[2020-01-16 19:31] jgm-ktg opened #1 "A bit of documentation?"
Hi, was redirected here from web-ui issue.  New to go and to this project.  How do I run the dashboard locally?

[2020-01-16 20:35] jgm-ktg commented on #1
I did a `go get github.com/casbin/casbin-dashboard`
then `~/go/bin/casbin-dashboard` from `~/go/src/github.com/casbin/casbin-dashboard` to pick up the conf with a local mysql root pwd of 123

I can hit some of the endpoints at 8000 and `yarn start` in `web` hits them too, but fails with

[code]

[2020-01-16 21:37] jgm-ktg commented on #1
Fixed the import error, I think via `yarn add @ant-design/icons@4.0.0-rc.0`

[2020-01-16 21:57] jgm-ktg commented on #1
Hello again... now that I think I have it running, I don't see anything like PolicyEditor.html from the web-ui ... seems like the scope of this dashboard is different?  How do I set up a web UI for managing policies?  (With a Postgres back end for storing the policies, ideally, and with casbin-server)

[2020-01-16 23:58] hsluoyz commented on #1
Hi @jgm-ktg , we will develop these functionalities these days.

[2020-01-30 13:48] hsluoyz commented on #1
We have policy editor now, see: https://dashboard.casbin.org/adapter/adapter_1

[2020-01-30 13:48] #1 closed

[2020-02-04 16:35] jgm-ktg commented on #1
![Screen Shot 2020-02-04 at 10 30 40 AM](https://user-images.githubusercontent.com/40578731/73765319-fe194b80-4739-11ea-8eb5-44042e554644.png)
@hsluoyz these links don't work on that page, fyi

[2020-02-04 18:43] jgm-ktg opened #2 "Attempt to run dashboard with Postgres - getting over newline issue"
In app.conf:
```dataSourceName = dbname=postgres sslmode=disable```

In object/orm_manager.go:
[code]

Then I cut/paste the Model from your example site and get this in the db:
[code]

Then I click on the edit button:
![Screen Shot 2020-02-04 at 12 34 26 PM](https://user-images.githubusercontent.com/40578731/73775062-c9fa5680-474a-11ea-8807-237c7d70e2ea.png)

Then I get the following error:
![Scre

[2020-02-04 18:56] jgm-ktg commented on #2
Also:
[code]
I doubt this is supposed to be a literal string null?

Trying to get past an associated? adapter error:
[code]

[2020-02-05 01:09] hsluoyz commented on #1
Hi @jgm-ktg

You are supposed to click the `edit` buttons of the `Home` page to enter other tabs, not click them directly.

![image](https://user-images.githubusercontent.com/3787410/73801882-cfad7600-47f6-11ea-92d0-cbc3f55328f6.png)

[2020-02-05 01:11] jgm-ktg commented on #1
Yes, but it seems like the links at the top should do something?  They don't appear to be functional

[2020-02-05 05:25] hsluoyz commented on #1
It has been fixed: https://github.com/casbin/casbin-dashboard/commit/b0d12da8dcd7ea5db5a3c65ae36af771cbe715c1

[2020-02-05 05:29] hsluoyz commented on #2
You should copy the model text from here:

![image](https://user-images.githubusercontent.com/3787410/73813582-5f651b80-481b-11ea-8f3e-7aa84c690491.png)

It contains the newline. The `Home` page one doesn't contain newline.

[2020-02-05 05:29] hsluoyz commented on #2
For the 2nd issue, can you make a PR to fix it?

[2020-02-14 02:01] jgm-ktg opened #3 "Inconsistent schema?"
The following was created by casbin-dashboard in Postgres:
[code]
But when I go to pycasbin it seems to want an id column:
[code]
Are these projects compatible?  Also hope to have casbin-server on the same database...

[2020-02-14 06:56] hsluoyz commented on #3
1. What adapter do you use for pycasbin ?

2. Can you provide code example?

[2020-02-14 06:57] hsluoyz commented on #2
Closed as stale.

[2020-02-14 06:57] #2 closed

[2020-02-14 16:37] jgm-ktg commented on #3
[code]

Core issue is that this expected casbin_rule to have an id column while cabin-dashboard did not create one.

[2020-02-14 17:26] jgm-ktg commented on #3
[code]
vs
[code]

Without a common database schema across the casbin family of tools, database support is crippled, right?  There needs to be one project/version stream for database schema that is common to all adapters everywhere, or else chaos will result?

[2020-02-14 17:46] jgm-ktg commented on #3
From the peewee docs:

Perhaps what happened is that peewee was making an id field so someone fudged the sqlalchemy one to be compatible with that?

[2020-02-14 18:04] jgm-ktg commented on #3
Please let me know whether it is xorm-adapter (dashboard) or the python adapters that need to change.  I need to fix this quickly to continue with my evaluation.  I must get the dashboard, python and casbin-server working together off the same database in order to proceed with casbin.

[2020-02-14 18:17] jgm-ktg commented on #3
casbin-server: ``For now, only Gorm Adapter is built-in``
casbin-dashboard: ``Casbin-dashboard uses XORM to connect to DB``

Even in the world of Go, projects are isolating themselves to different adapters?  Does this make sense?  How will compatibility be maintained between adapters that support the same database?

[2020-02-20 20:33] ani4aniket opened #4 "Component based architecture is missing in web client."
The project needs to be split into different components for reusability. Also, a better project structure in the web client codebase.

[2020-02-21 12:07] aryamanpuri opened #6 "Footer should be fixed in the bottom of User ViewPort"
**Description**
 As the footer in the middle of page, should be fixed.

![Screenshot from 2020-02-21 17-33-11](https://user-images.githubusercontent.com/43513114/75033340-b122cc80-54d0-11ea-9b7c-627ee85f68b5.png)

**Additional Information**
I am working on this

[2020-02-21 12:25] aryamanpuri opened #7 "On starting the React App , there is some fixable warnings"
It should be fixed

![Screenshot from 2020-02-21 17-54-00](https://user-images.githubusercontent.com/43513114/75034490-4f179680-54d3-11ea-86bc-72adf111b1cf.png)

**Additional Information**
I am working on this

[2020-02-21 17:33] aryamanpuri opened #10 "Update Readme"
Instead of using React Boilerplate Readme,
we should use write manual Readme consisting of how to setup and start the project .

[2020-02-21 17:46] aryamanpuri opened #11 "Error on go run main.go""
@hsluoyz Can You help with this?
**ERROR DESCRIPTION**
 I am getting an error on doing `go run main.go` while running backend.

![Screenshot from 2020-02-21 23-15-53](https://user-images.githubusercontent.com/43513114/75057962-1f32b800-5500-11ea-963a-7dea99ce1c2a.png)

[2020-02-21 17:49] ashu8912 commented on #11
hey @aryamanpuri can you show your logs.

[2020-02-21 18:16] aryamanpuri commented on #11
2020/02/21 23:45:10.796 [I] [parser.go:112]  generate router from comments
panic: Error 1698: Access denied for user 'root'@'localhost'

goroutine 1 [running]:
github.com/casbin/casbin-dashboard/object.(*OrmManager).open(0xc00017e900)
	/home/aryaman/go/src/github.com/casbin/casbin-dashboard/object/orm_manager.go:60 +0x131
github.com/casbin/casbin-dashboard/object.NewOrmManager(0xb468dc, 0x5, 0xc00

[2020-02-21 20:32] ani4aniket opened #12 "Page gets re-rendered while clicking links."
The dashboard does not works like SPA(Single Page Application) for every links the page gets reload and then contents are rendered to the DOM.

[2020-02-21 20:35] ani4aniket commented on #11
Hello, @aryamanpuri  actually the problem is with mysql server not with go main server.
Make sure to start your mysql server.

[2020-02-21 20:42] ani4aniket opened #13 "Replace regular JS functions with ES6 arrow functions."
ES6 arrow function has a simple syntax. Also, we don't need to bind this for every function within the code.

[2020-02-21 20:57] aryamanpuri commented on #12
@ani4aniket this is due to the use of anchor tag in the code , we can change it to the link from the react-router-dom

[2020-02-21 21:03] ani4aniket commented on #12
@aryamanpuri Yes, I am working on it.

[2020-02-21 21:18] ani4aniket commented on #12
Created a PR for the above-mentioned enhancement with replacing the anchor tag with Link tag from 'react-router-dom'. Also for jumping to various routes used `this.props.history.push(<route to push>)` with the help of withRouter from 'react-router-dom' instead of `Setting.openLink()`.
https://github.com/casbin/casbin-dashboard/pull/5/commits/d1dafd70da736987204b39e417021b7f50a7c835

[2020-02-22 00:12] radicalswetank commented on #11
@aryamanpuri
Just go to your Terminal and enter into MY-SQL by entering
`sudo mysql -u root`
Now switch your root user's plugin from auth_socket to mysql_native_password and change password to 123 by entering the following SQL statement
`ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY 123;`
then
`exit;`
now run your go server again by
`go run main.go`
If you still face issue

[2020-02-22 09:32] ani4aniket opened #17 "Adding continuous integration tool like CircleCI"
Add continuous integration to the project will help for unit testing and staging builds.

[2020-02-22 09:46] aryamanpuri opened #18 "Codebase should be integrated with Prettier and Eslint"
**Additional Information**
I am working on it .

[2020-02-22 09:54] xprilion commented on #18
Hi @aryamanpuri, please refrain from creating such issues. It is against the spirit of open source if you don't even describe the issue and simply write "I'm working on it".

A good issue should have -

1. The problem you're facing
2. Steps to replicate problem (if applicable)
3. What is expected
4. Any idea you have about solving the issue
5. A checklist of points to check this issue's resolution

[2020-02-22 10:03] aryamanpuri commented on #18
@xprilion Sorry for that

**Problem Faced**
Codebase should be aligned which helps the user and the developers to read the code easily.

**To Reproduce**
It can be seen in the project codebase.

**Actual behavior**
Nothing happens.

**Expected behavior**
Codebase integrated with prettier and eslint will help the code to ensure consistent rules are being followed for indentation, spacing, semicolon

[2020-02-22 10:04] aryamanpuri commented on #18
@xprilion Are you mentoring this project for GSOC 2020?

[2020-02-22 10:30] xprilion commented on #18
Hey @aryamanpuri, thanks for addressing my suggestions.

No, I'm unfortunately not associated with GSoC anyway this year. I was simply looking through the new organizations this year and found your issue as the first one on this repo and chimed in hope to help you in creating better issues in the future! :slightly_smiling_face:

[2020-02-22 12:28] aryamanpuri opened #22 "On clicking multiple Time Save changes button"
**Problem Faced**
![Screenshot from 2020-02-22 17-54-28](https://user-images.githubusercontent.com/43513114/75092331-68d0e080-559c-11ea-93ac-c63e465ad00a.png)

**To Reproduce**
Click multiple times the `Save Change` button

**Actual behavior**
Save Succeded pop up is coming multiple times on clicking the save button

**Expected behavior**
 If the button is clicked multiple times, `save succeeded`

[2020-02-22 17:41] nik72619c opened #23 "Add Husky and lint-staged to avoid poor commits"

[2020-02-22 18:02] nik72619c commented on #23
@hsluoyz please let me know if this seems helpful

[2020-02-22 18:18] nik72619c opened #24 "Nested scrollbars in the app"
#### Current behaviour
When a list of items become large, a scrollbar appears for that list item . This creates a somewhat bad UX according to me.

Also, since pagination is applied here I feel that the scrollbar for should not be there at all

@hsluoyz Please let me know if I shall take this forward :)
Working on this one

[2020-02-22 18:19] shakti97 opened #25 "Should have in-app routing"
## Current behaviour
App is using anchor tag which makes the page reload when clicking in app link

## Expected Behavior
App should use in-app routing so that page will not refresh

##Addition Information
@hsluoyz please let me know, I would like to work on it

[2020-02-22 18:20] nik72619c opened #26 "Stars icon has extra padding"
#### Current Behaviour
The Github stars icon has an extra padding due to which it has a larger clickable area. Ideally, only the button must be clickable.

@hsluoyz Working on this :)

[2020-02-22 18:28] shakti97 opened #27 "Form inputs should have minLength and maxLength"
## Actual Behaviour
Form Input let add data with empty Id and name

## Expected Behaviour
Form Input should have min. and max length for inputs

## Additional Behaviour
@hsluoyz let me know, I would like to work on it.

[2020-02-22 19:30] ani4aniket commented on #25
@shakti97 I have already created a PR referencing this similar issue.
#12

[2020-02-23 10:25] ani4aniket opened #28 "[Feature] Adding issue and pull request template"
Currently, there are no templates for creating PRs and issues.
From GitHub [docs:](https://help.github.com/en/github/building-a-strong-community/about-issue-and-pull-request-templates)

This will help in better maintenance and communication especially since there will be a lot of incoming PRs.

[2020-02-24 13:45] devabhixda commented on #11
Ensure your SQL server is up and running on port 3306. By default root user is tried to log in using '123' as password but as mentioned in Readme that's configurable as per your will. Just update the configs in the app.conf file that's located at https://github.com/casbin/casbin-dashboard/blob/master/conf/app.conf . Also ensure you put this file in .gitignore so as to avoid commiting it.

[2020-02-24 14:00] devabhixda opened #30 "[Fixes] Update favicon"
The dashboard uses React favicon by default and it needs to be updated with casbin logo.
https://github.com/casbin/casbin-dashboard/pull/31

[2020-02-24 18:50] thebishaldeb opened #32 "Feature request: One terminal command to run both client and server"
# Actual Behaviour
Currently we need to run
[code]
 in one terminal and
[code]
in another.

# Expected Behaviour
One line code
[code]
to run both concurrently on the same terminal.

### Wroking on it.

[2020-02-24 20:37] shakti97 opened #34 "Target blank vulnerability issue"
## Current Behaviour
Links with target="_blank" on them are vulnerable to having the referrer page being swapped out in the background while the user's attention is diverted by the newly-opened tab. This is known as reverse tabnapping.

## Expected Behaviour
Adding rel="noopener noreferrer" to links protects your site's users against having the site you've linked to potentially hijacking the brows

[2020-02-24 20:37] shakti97 commented on #34
@hsluoyz if possible , I would love to work on this:)

[2020-02-26 19:04] GermaVinsmoke opened #37 "Error in go get github.com/casbin/casbin-dashboard"
On running `go get github.com/casbin/casbin-dashboard`, I'm getting this -

[code]

[2020-02-27 15:04] jgm-ktg commented on #3
@hsluoyz do you have any comments about schema normalization and using the same database with different projects/adapters within the casbin ecosystem?

[2020-02-29 16:33] Dishebh opened #38 "Footer not fixed at bottom"
Currently, the footer is not fixed at bottom of the webpage.

### Expected
The footer should be fixed at bottom.

[2020-02-29 16:36] Dishebh commented on #28
@ani4aniket can I work on the issue?

[2020-02-29 16:39] Dishebh commented on #17
@ani4aniket if it is up for grabs, can I take it?

[2020-02-29 16:40] Dishebh commented on #23
@nik72619c are you still working on this? If not, can I go ahead with this one?

[2020-02-29 18:26] nik72619c commented on #23
@Dishebh Sending a PR for this :)

[2020-02-29 21:48] shakti97 commented on #38
@Dishebh , please check for similar issues before creating a new issue, I think this issue is already there and someone already filed a pr for that.

[2020-02-29 22:30] shakti97 opened #40 "Empty table contract, degrade consistency"
##Current Behaviour
If there is no data in the table , table get contracted which looks weird.

##Expected Behaviour
Table should not contract based on the data, so that it looks consistent

@hsluoyz If possible I would love to work on this

[2020-02-29 22:31] shakti97 commented on #40
I am working on this

[2020-02-29 22:35] shakti97 opened #41 "Home Page Container shrink"
##Current Behaviour
 Home Page Container contract if no table on home page has data

##Expected Behaviour
Home Page Container never loses its width, means it should not depend on the data

@hsluoyz if possible I would love to work on this

[2020-02-29 22:37] shakti97 commented on #41
My pr for issue #40 will fix this

[2020-03-01 01:46] hqm19 opened #42 "build error"
object/policy.go:37:9: assignment mismatch: 2 variables but xormadapter.NewAdapter returns 1 values
object/policy.go:73:9: assignment mismatch: 2 variables but xormadapter.NewAdapter returns 1 values
object/policy.go:78:12: undefined: model.NewModelFromString
object/policy.go:83:9: assignment mismatch: 2 variables but casbin.NewEnforcer returns 1 values
object/policy.go:121:11: assignment mismatch

[2020-03-01 04:00] Dishebh commented on #38
Closing it.

[2020-03-01 04:00] #38 closed

[2020-03-01 07:46] nik72619c commented on #23
ref #43

[2020-03-03 19:00] anishagg17 commented on #26
Its the label area . I don't think it's an issue

[2020-03-03 19:05] anishagg17 opened #47 "add a loader on home screen"

[2020-03-04 17:54] shakti97 commented on #42
Hi @hqm19 , can you please elaborate the steps you had taken and found this error. Would love to help

[2020-03-05 10:47] tushar22-tg opened #51 "unable to run it locally"
![Capture](https://user-images.githubusercontent.com/52567960/75974388-b1718d80-5efc-11ea-82c6-f63bad25e74c.PNG)

i am facing this issue while running development mode

[2020-03-05 11:21] alekhgupta1441 commented on #51
I too am facing this issue

[2020-03-06 05:32] hsluoyz opened #52 "Please stop making trivial contribution"
Please do not make PR for trivial things like making a button bigger, making a label smaller, etc.

Please understand Casbin first, a lot of PRs just work for every React/Javascript project. The committers actually have no knowledge about Casbin.

Please make concrete contributions like adding more features that are really related to Casbin and will help Casbin users better. Not just some trivial

[2020-03-10 09:58] romitkarmakar commented on #51
Same issue here...Please look into this.

[2020-03-11 11:26] hsluoyz commented on #4
No need currently.

[2020-03-11 11:26] #4 closed

[2020-03-11 14:30] hsluoyz commented on #30
Merged.

[2020-03-11 14:30] #30 closed

[2020-03-11 14:32] hsluoyz commented on #32
Too trivial

[2020-03-11 14:32] #32 closed

[2020-03-11 15:50] #34 closed

[2020-03-11 15:59] hsluoyz commented on #17
I prefer Travis CI.

The question is we don't have test cases yet. So I don't know why we setup CI now.

[2020-03-11 16:02] #28 closed

[2020-03-11 16:48] devabhixda commented on #42
Please let us know the details of the issue and steps to reproduce the error so that we can look into it.

[2020-03-11 17:01] devabhixda commented on #51
This might not be a proper solution but it looks these is some issue with go orm manager i.e. xorm. Try manually getting xorm `go get github.com/go-xorm/xorm`

[2020-03-13 03:21] hsluoyz opened #54 "Test management page needs to be developed"
Currently, we have visualized model, adapter, enforcer pages. We also need to add a test page to hold all test cases for an enforcer: https://github.com/casbin/casbin/blob/master/model_test.go

So the enforcer can tested for its correctness at any time. As an example:

A test is: (id, name, created_time, test_cases)
A test_case is: (id=TestBasicModel, test_assertions)
A test_assertion is: (request

[2020-03-13 03:38] hsluoyz opened #55 "A more friendly policy management UI is needed for beginner users"
We know Casbin is based on model and policy. But they are difficult for beginners to use and understand. Some terms like "User Management", "Role Management", "Permission Management" are more friendly to users.

We need to develop such pages like "User Management", "Role Management", "Permission Management" as higher-level interfaces, and map them into lower-level's Casbin's model and policy. Of c

[2020-03-13 03:39] #52 closed

[2020-03-13 04:34] shakti97 commented on #55
I would like to work on it

[2020-03-13 07:34] ttzztztz opened #57 "Proposal: Migrate to Typescript, Add Lint tool"
If we migrate the frontend to the typescript, it will be easier to maintain in the future. A lot of errors caused by type error will be avoided. It is easy to migrate to typescript when at the beginning.

We should also add Lint tool to make the code in a better quality. For example: We should have a uniform usage of singal quote or double quote.
For example, The Pull Request #35 is not a good pul

[2020-03-13 07:34] ttzztztz commented on #57
@hsluoyz

[2020-03-13 07:42] hsluoyz commented on #57
Do not try to make an opinionated & controversial decision like JS or TS before contributing any concrete code. A beginner should proceed instead of steering.

You can try the pinned issues, which are suitable for first-time contributors: https://github.com/casbin/casbin-dashboard/issues

[2020-03-13 07:42] #57 closed

[2020-03-20 02:57] hsluoyz commented on #51
New version Xorm has broken its API. I enabled Go modules and lock down Xorm version to a previous working version: https://github.com/casbin/casbin-dashboard/commit/dcc11957e179afe8842f3b4d9df687969e4642a6

[2020-03-20 02:57] #51 closed

[2020-03-20 06:48] rak-shit commented on #37
I am also facing with the same problem. Did you find any solution to this?

[2020-03-21 03:58] kjain0073 commented on #42
hi @shakti97 @devabhixda , this error comes right after
`go get github.com/casbin/casbin-dashboard`
as you run
`go run main.go`
Kindly look into the issue as early as possible.

[2020-03-21 05:44] devabhixda commented on #42
This was an issue with new version of xorm and has recently been fixed by https://github.com/casbin/casbin-dashboard/commit/dcc11957e179afe8842f3b4d9df687969e4642a6 , kindly get your local clone up streamed with the current changes.

[2020-03-21 06:40] hsluoyz commented on #42
Fixed.

[2020-03-21 06:40] #42 closed

[2020-03-21 07:08] kjain0073 commented on #42
@hsluoyz @devabhixda thanks a lot!

[2020-03-21 07:50] devabhixda commented on #6
@hsluoyz this can now be closed. Ref https://github.com/casbin/casbin-dashboard/pull/8#pullrequestreview-372666586

[2020-03-21 07:51] devabhixda commented on #7
@hsluoyz PR has been merged, issue can be marked as resolved and be closed.

[2020-03-21 07:53] devabhixda commented on #11
@aryamanpuri can you update us on the status of this issue so that we can close it if no more action is needed.

[2020-03-21 07:55] #11 closed

[2020-03-21 07:55] #7 closed

[2020-03-21 07:56] devabhixda commented on #37
https://github.com/casbin/casbin-dashboard/issues/42#issuecomment-601999094 . @hsluoyz this can be closed.

[2020-03-21 07:56] #6 closed

[2020-03-21 08:45] rak-shit opened #58 "Improving the navigation bar of the casbin-dashboard."
Presently it looks a bit odd without any kind of styling.

![Screenshot 2020-03-21 at 2 09 33 PM](https://user-images.githubusercontent.com/30564496/77222946-1f18ed00-6b7e-11ea-9a94-73bd7192f1e5.png)

The aim is to improve it by styling the navigation bar and make it look presentable.

I would like to work on this issue.

[2020-03-21 21:03] kjain0073 commented on #37
@GermaVinsmoke I think you are running this command outside your local repo? If yes, you need to first
`cd casbin-dashboard`
then enter
`go get github.com/casbin/casbin-dashboard`
I had a similar error and this was the case.I hope it works for you too!

[2020-03-22 01:19] #37 closed

[2020-03-22 15:28] hsluoyz commented on #24
Show pictures.

[2020-03-22 15:37] hsluoyz commented on #6
Fixed by: https://github.com/casbin/casbin-dashboard/commit/c823377bd2c260f0cfab361ef1d0bdf405d13036

[2020-03-22 15:42] hsluoyz opened #61 "Casbin model syntax and semantics check on Dashboard UI"

[2020-03-22 16:14] hsluoyz commented on #55
Is anyone working on this?

[2020-03-23 07:24] Wynnfan commented on #13
Wait, developing.

[2020-03-24 00:20] shakti97 commented on #61
I would like to work on this

[2020-03-24 09:00] techguybiswa commented on #24
Hi @hsluoyz ,

I am attaching a picture of what I observed.

<img src="https://i.ibb.co/2kWTKG0/Screenshot-2020-03-24-at-2-27-28-PM.png"/>

So as you can see when I add a large number of rows the table becomes scrollable.
Also we have an. already existing pagination.

So either we can :

1. Remove pagination and make it scrollable
2 Or remove scroll and make it paginated.

If nothing is done then

[2020-03-25 18:44] Ishaan28malik commented on #54
Do we need two separate Enforcers one for test and another for running and storing ? or we aim to edit, save and remove all the enforcers as per the user, according to the current functionality of the UI? @hsluoyz

[2020-03-25 19:25] Ishaan28malik commented on #55
@hsluoyz I just made the basic changes have a look and update if we are talking something similar to this, also this is just a rough idea. The main changes will be reflected in the final UI changes.

[2020-03-26 04:40] Ishaan28malik opened #65 "Facing Dependencies warning"
I tried running the project locally using both yarn and npm.

There are couple of major dependencies warning like core-js@ version update required .

**Running with yarn**

![dependencies](https://user-images.githubusercontent.com/27343592/77610862-e5633000-6f49-11ea-9bce-939aa379ee42.png)

**Running with npm**

![DEp](https://user-images.githubusercontent.com/27343592/77610868-e72cf380-6f49-11ea-

[2020-03-26 04:45] Ishaan28malik opened #66 "Facing the issue in Models , Adapters and Enforcers display locally."
Not able to see the rest of the body of the dashboard while running the web locally on the system

Models, Adapters and Enforcers part is not being displayed.

**Expected**

![Real](https://user-images.githubusercontent.com/27343592/77611071-61f60e80-6f4a-11ea-8c4d-b8fe708d7cea.png)

**Current local UI**

![Local](https://user-images.githubusercontent.com/27343592/77610955-0f1c5700-6f4a-11ea-850b-

[2020-03-26 08:33] techguybiswa commented on #61
Hi @hsluoyz
I wanted to implement the validations but I am not getting how will I understand what is a valid Casbin Model?  Is there any docs to help out?

[2020-03-27 19:49] Ishaan28malik commented on #66
Updated the database and go files, issue resolved.

[2020-03-27 19:49] #66 closed

[2020-03-28 10:39] hsluoyz commented on #24
`Or remove scroll and make it paginated after with like 10 rows per page.`

This would be good.

[2020-03-28 10:41] hsluoyz commented on #54
Each enforcer in DB has its own Enforcer instance.

[2020-03-28 10:41] hsluoyz commented on #61
See our docs: https://casbin.org/docs/en/syntax-for-models

[2020-03-28 10:58] shakti97 commented on #61
Thanks yang, Will try to implement it

[2020-03-28 19:14] Ishaan28malik commented on #54
Oh okay let me go throught the docs once again and let me get back to u then.

[2020-03-28 19:54] #65 closed

[2020-03-29 22:08] techguybiswa commented on #61
@hsluoyz  Please check the PR at: https://github.com/casbin/casbin-dashboard/pull/68
And please do let me know if my implementation is in the correct direction.
Thanks

[2020-03-31 04:14] samagragupta opened #69 "Fotter is not at bottom"
Footer is not fixed at the bottom.
![2](https://user-images.githubusercontent.com/32234926/77986233-3604cf80-7334-11ea-8f3b-13f1910a9a6c.gif)

[2020-03-31 04:26] samagragupta opened #71 "rel="noopener noreferrer" is not used"
In the anchor tag ` rel="noopener noreferrer"` this should be used when `taget="_blank"`.
As using target="_blank" without rel="noopener noreferrer" is a security risk: see https://mathiasbynens.github.io/rel-noopener

[2020-04-02 03:11] devabhixda commented on #69
Already been fixed by @hsluoyz https://github.com/casbin/casbin-dashboard/commit/c823377bd2c260f0cfab361ef1d0bdf405d13036

[2020-05-22 03:28] quocanh1897 opened #73 "Problem with xorm when install"
Hello, I have an error when installing the casbin-dashboard like this:

[code]

Can you help me to solve this? Thanks.

[2020-05-22 03:55] hsluoyz commented on #73
Your Xorm version is too new. We used Go Modules: https://github.com/casbin/casbin-dashboard/blob/master/go.mod to lock an old version Xorm. Please use Go Modules to update your dependency.

You can also choose to make a PR to fix the error with latest version Xorm.

[2020-05-22 07:17] #73 closed

[2020-06-19 03:53] 438561537 opened #74 "The width of adapterTable has not been fixed to full-width"
The width of Refactor Table has been fixed once[Link](https://github.com/casbin/casbin-dashboard/commit/c81546d8ebd70ed4d6d6e91ced471b883d663a00)， but forgot to fix the width of adapterTable.
https://github.com/casbin/casbin-dashboard/blob/c81546d8ebd70ed4d6d6e91ced471b883d663a00/web/src/AdapterTable.js#L157
![screem](https://user-images.githubusercontent.com/41043187/85095208-594c6600-b223-11ea-8

[2020-06-19 04:00] chetan-v opened #75 ""Made with ❤️ by Casbin" is at centre of the screen which should be at bottom."
**Actual Behaviour**

![Screenshot from 2020-06-19 09-26-48](https://user-images.githubusercontent.com/63091769/85095510-36b05200-b20f-11ea-92a2-5c77153c5d8b.png)

![Screenshot from 2020-06-19 09-26-50](https://user-images.githubusercontent.com/63091769/85095568-63fd0000-b20f-11ea-9b18-a9bef66a89f4.png)

**Expected Behaviour**

It should be at bottom

[2020-06-19 06:08] hsluoyz commented on #74
@438561537 can you make a PR?

[2020-06-19 06:10] 438561537 commented on #74
OK

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Yang Luo"<notifications@github.com&gt;;
发送时间: 2020年6月19日(星期五) 下午2:08
收件人: "casbin/casbin-dashboard"<casbin-dashboard@noreply.github.com&gt;;
抄送: "438561537"<438561537@qq.com&gt;; "Mention"<mention@noreply.github.com&gt;;
主题: Re: [casbin/casbin-dashboard] The width of adapterTable has not been fixed to full-width (#74)

@438561537 can y

[2020-06-19 10:33] hsluoyz commented on #75
Please fix it.

[2020-06-19 10:35] hsluoyz commented on #74
Fixed in: https://github.com/casbin/casbin-dashboard/pull/76

[2020-06-19 10:35] #74 closed

[2020-06-19 10:37] hsluoyz opened #78 "Manage the issues and PRs"
@BetaCat0 @GopherJ can you help manage the issues and review the PRs in this repo?

[2020-06-19 11:05] chetan-v commented on #75
ok do that

[2020-06-19 12:48] #75 closed

[2020-06-24 18:09] BetaCat0 commented on #78
Sure. I'd like to :)

[2020-07-09 10:25] 438561537 opened #80 "Optimize the UI"
### Current Style:
The current layout and typegraphy cannot support the visualization of backend data, user management , modifying the wrong Casbin model and other functions.

### Expected Style:
1. Change the frontend style for better interaction and the beautifying the UI.
2. Add the user management model to prevent illegal users whose behavior may disturb the system.

[2020-07-09 13:27] hsluoyz commented on #80
@BetaCat0 can we ask the student to fix it?

[2020-07-09 17:09] BetaCat0 commented on #80
@hsluoyz Actually he is the student you mentioned :)

[2020-07-10 00:08] hsluoyz commented on #80
Lol, that's great! Let's do it :)

[2020-07-12 23:37] 6ecuk commented on #10
Any updates here? I tried setup localy project and got alot errors in console log...

[2020-07-13 06:31] hsluoyz commented on #10
@BetaCat0 @438561537 can you take this issue?

[2020-07-13 06:31] hsluoyz commented on #10
@6ecuk what error did you encounter?

[2020-07-13 06:48] 438561537 commented on #10
@hsluoyzYes. I can.
 @6ecuk @aryamanpuriWhat problems did you encounter when you started the project?

[2020-07-13 08:59] 6ecuk commented on #10
Hi, I tried to build a web part in docker.

RUN apk update && apk add ca-certificates && rm -rf /var/cache/apk/*
ADD ./web web
WORKDIR ./web
RUN npm install
ENTRYPOINT [ "npm", "start"]

And console.log in browser I got errors

Warning: React does not recognize the `renderMenuItem` prop on a DOM element. If you intentionally want it to appear in the DOM as a custom attribute, spell it as lowercase

[2020-07-13 14:57] 438561537 commented on #10
@6ecuk Thanks for your mentioned！To fix this warning, I recommend to delete this text.https://github.com/casbin/casbin-dashboard/blob/e2297653afdb4c8c10d100c5c70ecf36407b8775/web/src/App.js#L57
we should't put any text under the <menu> and we just could only put the Menu.item under the Menu directly.[link](https://github.com/ant-design/ant-design/issues/8708).

[2020-07-13 15:04] 6ecuk commented on #10
@438561537 also in a service log

[2020-07-13 15:15] 6ecuk commented on #10
After deleting, i got this
![изображение](https://user-images.githubusercontent.com/8338314/87321326-c908f480-c534-11ea-8716-669d11277b76.png)

[2020-07-13 15:43] 438561537 commented on #10
@6ecuk I have noticed these problems.  It need to fix some small detail in app.js. I will make a pr to fix these as soon as possible.Thanks!

[2020-07-13 15:45] 6ecuk commented on #10
Thanks

[2020-07-14 10:56] 6ecuk commented on #10
@438561537 I tried your fixes from the pull request.  Errors in service log fixed, but I still have
![изображение](https://user-images.githubusercontent.com/8338314/87418050-c2808880-c5d9-11ea-82ac-0fe20e07e7a0.png)

[2020-07-14 12:50] 438561537 commented on #10
@6ecuk Hello, I have modified the pr and now you can run the dashboard without fatal errors.  Actually there are some problems in other js files(not App.js), which will lead to some warnings like the picture below. I will modify these files and make pr as soon as possible.
![20200714](https://user-images.githubusercontent.com/41043187/87426142-5caff300-c611-11ea-8335-3b6d6a7c2f5f.png)
As for futhu

[2020-07-14 17:18] 6ecuk commented on #10
At last, I ran the front part, small victory. Additional constructive suggestion. Currently, if no rows in the database, interface not show any of models, adapters, enforcers and you can't add init rows from the interface.

[2020-07-15 02:07] 438561537 commented on #10
@6ecuk Yes, Just as you mentioned, the dashboard needs to improved in these aspects.
First, we need to fix the bugs(include Delete action, Edit action) in this repository.
Second, we need to improve the UI to make the dashboard look better.
And thirdly, we shoud add some new features(like Add init rows from the interface, Casbin model syntax and semantics check.....) for future enhancement.
Thank

[2020-07-15 03:47] hsluoyz commented on #10
Let's focus on this issue. Is it got fixed?

[2020-07-15 03:47] hsluoyz commented on #10
If yes, please close it.

[2020-07-15 03:56] 438561537 commented on #10
@hsluoyz As for the bugs in App.js, it has got fixed. There are some small bugs in other files. we can close this issue and fix other files for a new issue.

[2020-07-15 04:54] #10 closed

[2020-07-16 08:12] 6ecuk opened #82 "Policies table is missed"
In current version of casbin-dashboard policies tables is missed

[2020-07-16 09:46] 438561537 opened #83 "update the Tables"
### This warning needs to fixed
![20200714](https://user-images.githubusercontent.com/41043187/87655649-1c748000-c78b-11ea-8d68-e6085bb0137a.png)

### A suggestion
When we add a new model/adapter/enforcer, we hope the new row to be the first row of the table(not the last row). It may be convenient for us to add a lot of rows and divide them into many pages.

[2020-07-16 09:58] 438561537 commented on #82
Hi my friend, I will requset to my mentor about whether to add a Policies table or not.

[2020-07-16 10:04] 6ecuk opened #84 "Add rows in empty table"
Instead compare table===undefined, need compare table===null
https://github.com/casbin/casbin-dashboard/blob/0fbe9c4bb2de5b9383e9feccaa471d8bae5c1c8e/web/src/EnforcerTable.js#L42

[2020-07-17 09:35] 438561537 commented on #84
Maybe we can delete these code? (〃'▽'〃)
https://github.com/casbin/casbin-dashboard/blob/0fbe9c4bb2de5b9383e9feccaa471d8bae5c1c8e/web/src/AdapterTable.js#L38
![console](https://user-images.githubusercontent.com/41043187/87771389-dd116680-c852-11ea-994a-c823f5591870.png)
Because when we start to add a new row, the table has already been a null table  " [] ".
![console](https://user-images.githubuser

[2020-07-21 18:25] 6ecuk commented on #84
Well, in practice a table is null i don't know why

[2020-08-06 15:50] #83 closed

[2020-08-10 17:38] 6ecuk commented on #84
@438561537 hi, you investigate this case ?

[2020-08-11 01:49] 438561537 commented on #84
@6ecuk Actually, I am working for a new UI frame recently. In the new frame, when I add/edit an model/adapter/enforcer,  it will route to another page(not to use addrow() method in the home page).
When I finish the optimization job, I will uploading it after reviewing.
Thank you for your attention!

[2020-08-17 08:38] japorized commented on #69
Perhaps it's still missing `position: relative; min-height: 100vh;` for the `div` on [line 44 of `App.js`](https://github.com/casbin/casbin-dashboard/blob/28e4130d93bebeaaf1accc1248d543161c93ba29/web/src/App.js#L44)?

Right now the footer still behaves just as shown in the GIF above.

[2020-08-17 15:22] hsluoyz commented on #69
@438561537 please fix it.

[2020-08-17 20:38] arteevraina opened #87 "Heart in the footer has wrong RGB value"
Color of the heart icon in the footer has been given white color by typo.

### Screenshot
![image](https://user-images.githubusercontent.com/43968121/90442049-9afc6e80-e0f7-11ea-885b-c2c54f09437e.png)

Possible Fix - changing the rgb value

### Additional Information

I am working on this.

[2020-08-17 20:52] arteevraina opened #89 "Checkbox not behaving correctly in Pull Request Template"
When we want to tick a checkbox on github we simply  put a 'x' between square brackets[ ]. But, when I created my first PR in this repo. It wasn't behaving as expected and the fix I got that in order to make these behave as checkboxes we need to use asterisk mark *.

### Additonal Information

I am working on this.

[2020-08-18 15:01] arteevraina opened #92 "Typo in Readme"
While the React's client-side port runs on port 3000 but in the readme, it has been mentioned that it runs on port 3030.

Additional Information:
I will make a PR for this.

[2020-08-18 15:05] BetaCat0 commented on #92
Yes, please 👍

[2020-08-18 15:06] #87 closed

[2020-08-18 15:07] #89 closed

[2020-08-18 15:09] arteevraina commented on #92
@BetaCat0 Sure thing.

[2020-08-20 05:53] andyyumiao opened #95 "Startup error"
panic: dial tcp 127.0.0.1:3306: connect: connection refused

goroutine 1 [running]:
github.com/casbin/casbin-dashboard/object.(*OrmManager).open(0xc0001a86c0)
	/Users/yumiao3/workspace/github/casbin-dashboard/object/orm_manager.go:60 +0x133
github.com/casbin/casbin-dashboard/object.NewOrmManager(0x173bce1, 0x5, 0xc0000cc380, 0x1e, 0x1e)
	/Users/yumiao3/workspace/github/casbin-dashboard/object/orm_

[2020-08-20 06:03] arteevraina commented on #95
Yes, I am also getting same error on starting server.

[2020-08-20 06:10] andyyumiao opened #96 "Unhandled Rejection (TypeError): Cannot read property 'text' of null"
when i want to add new model, and go to edit action button, got the error, see enclosure
![Xnip2020-08-20_14-07-45](https://user-images.githubusercontent.com/11346379/90723181-df059400-e2ee-11ea-8cba-75acfed82c94.jpg)
![Xnip2020-08-20_14-07-56](https://user-images.githubusercontent.com/11346379/90723187-e0cf5780-e2ee-11ea-83ab-0f474443f5cc.jpg)

[2020-08-20 06:11] andyyumiao commented on #95
you may run 'go get' command before startup:
go get github.com/astaxie/beego
go get "github.com/astaxie/beego/plugins/cors"
go get "github.com/casbin/casbin-dashboard/object"
go get "github.com/casbin/casbin-dashboard/routers"

[2020-08-20 12:31] hsluoyz commented on #95
@andyyumiao please setup your DB connection string: https://github.com/casbin/casbin-dashboard#installation

[2020-08-20 12:31] #95 closed

[2020-08-20 12:57] hsluoyz commented on #92
@arteevraina it runs on 3030:

https://github.com/casbin/casbin-dashboard/blob/7851225732e602626eab7c95a57eea8967542539/web/package.json#L18-L23

[2020-08-20 13:03] hsluoyz commented on #96
@BetaCat0 @438561537 please fix it.

[2020-08-20 13:07] 438561537 commented on #96
I will fix it on the sever

[2020-08-20 13:22] 438561537 commented on #96
The bug has been fixed. @hsluoyz

[2020-08-20 14:01] hsluoyz commented on #96
@438561537 what PR or commit fixed this issue?

[2020-08-20 14:03] 438561537 commented on #96
@hsluoyz I will fix this issue in #94

[2020-08-20 14:16] hsluoyz commented on #96
Refer to: https://github.com/casbin/casbin-dashboard/pull/94#issuecomment-677693228

[2020-08-20 15:36] arteevraina commented on #92
@hsluoyz But the logs say something like this :

[code]
Correct me if I am wrong.

[2020-08-20 15:38] hsluoyz commented on #92
It's because of OS.

[2020-08-20 15:41] arteevraina commented on #92
ok, thanks :)

[2020-08-20 15:58] arteevraina commented on #95
@hsluoyz I am getting the same error after following the above-mentioned steps.

Logs -
[code]
Are there any other workarounds?

[2020-08-20 15:58] arteevraina commented on #95
@andyyumiao Were you able to fix this?

[2020-08-20 16:04] GopherJ commented on #78
@hsluoyz Could you give me rights on `casbin` org? I only have rights on `casbin-rs` currently

[2020-08-20 16:44] hsluoyz commented on #95
Did you have installed a DB like MySQL at: 127.0.0.1:3306 ?

[2020-08-23 06:59] arteevraina opened #100 "Unhandled Rejection (TypeError): enforcer is null"
When we want to add a new enforcer and click on the edit button. Error is displayed -

[code]
 @hsluoyz Is this a valid one?

[2020-08-23 07:17] arteevraina opened #101 "Improving UI"
In the Models, Adaptors, and Enforcers tables for the delete icon we can have a delete icon instead of minus icon for a better UI/UX.

![image](https://user-images.githubusercontent.com/43968121/90973283-46655300-e53e-11ea-9cfc-cb527947ca72.png)

[2020-08-23 10:38] #101 closed, assigned to hsluoyz

[2020-08-24 02:30] andyyumiao commented on #95
rubbish, get out of GitHub!!!

[2020-08-28 14:51] arteevraina opened #104 "TypeError: this.props.headers is null"
On clicking the edit button in Adapters. Error is thrown like this:

[code]

I am working on this.

[2020-08-28 16:18] #104 closed

[2020-08-28 17:27] arteevraina opened #106 "Unhandled Rejection (TypeError): text.r is undefined"
On the route `http://localhost:3000/model/new id`. Following error is thrown.

[code]

@hsluoyz Are you able to reproduce this?

[2020-08-30 07:06] #100 closed

[2020-08-30 08:18] arteevraina opened #107 "Screen Turning Blank after fetching new changes"
After fetching all the new changes in my local repo. I am not able to see the UI. I am only able to see Navbar and Footer.

### Screenshot

![image](https://user-images.githubusercontent.com/43968121/91654537-395cdc80-eac7-11ea-962a-12491a7b1788.png)

### Server Logs
[code]

### Client Logs

[code]

[2020-08-30 08:19] arteevraina commented on #107
@nodece Are these logs correct?

[2020-08-30 08:27] arteevraina opened #108 "Merge conflicts in App.js file in src folder"
[code]

I think these may be left in the recent merges.

[2020-08-30 09:35] #24 closed

[2020-08-31 05:05] 438561537 opened #110 "Delete unnecessary files"
Delete some unnecessary files and resolve the conflicts in App.js.
![files](https://user-images.githubusercontent.com/41043187/91684628-9a011d80-eb8a-11ea-9619-95114a677dcc.png)

[2020-08-31 05:16] #80 closed

[2020-08-31 07:45] arteevraina opened #112 "Semicolon left in left nav bar"
### Screenshot

![image](https://user-images.githubusercontent.com/43968121/91695566-fca6e900-eb8b-11ea-911c-59b022ae0ad6.png)

I will send a PR for this soon.

[2020-08-31 07:59] arteevraina opened #114 "New casbin dashboard UI is not responsive in all screen sizes"
### Screenshot

![image](https://user-images.githubusercontent.com/43968121/91696937-f3b71700-eb8d-11ea-80dc-68ef2d9dba4b.png)

I would like to work on this.

[2020-08-31 08:00] arteevraina commented on #114
@438561537 Would you like to collaborate with me on this issue?

[2020-08-31 08:23] 438561537 commented on #114
Sure, this need to be fixed for different screen size. I will check it locally. Thanks for you mentioned.

[2020-08-31 08:25] arteevraina commented on #114
Let's connect for this issue on Gitter. So that we can discuss more about this?

[2020-08-31 08:28] 438561537 commented on #114
@arteevraina OK

[2020-08-31 13:08] arteevraina opened #115 "Security Concern in Login Page of Casbin Dashboard"
The username and password that is entered in the form get console logged that should not happen as it may lead to a security concern.

[code]

[2020-08-31 13:35] arteevraina commented on #106
@hsluoyz Closing this for now. Because I am not able to reproduce this after the recent merge.

[2020-08-31 13:35] #106 closed

[2020-08-31 14:57] #115 closed

[2020-08-31 14:58] #112 closed

[2020-08-31 15:08] #108 closed

[2020-08-31 16:13] #110 closed

[2020-09-04 15:43] #107 closed

[2020-09-12 14:11] arteevraina opened #121 "On multiple clicks on moveup toast message is displayed"
### Screenshot
![casbin1](https://user-images.githubusercontent.com/43968121/92997271-ad6b9b80-f52f-11ea-86f3-3713b06e366a.png)

### Expected Behaviour
Toast Message should be displayed only if there is no toast message being displayed.

[2020-09-13 00:52] hsluoyz commented on #121
@arteevraina can you fix it?

/cc @BetaCat0 @GopherJ @438561537

[2020-09-13 03:42] arteevraina commented on #121
Sure thing!

[2020-09-16 15:35] arteevraina commented on #61
@hsluoyz Is this issue still open for work?

[2020-09-16 17:46] SingingApple opened #125 "Submit button not aligned properly"
### Add New Policy Form
Submit button is not aligned properly.

![image](https://user-images.githubusercontent.com/39864404/93373127-8801c900-f872-11ea-892a-63db9a832885.png)

[2020-09-16 19:33] DeadSpoon18 opened #127 "Cursor changing to default when hovering on Avatar icon."
![issue](https://user-images.githubusercontent.com/58849158/93383651-92778f00-f881-11ea-969e-8e9dd2f490c5.png)

[2020-09-17 08:42] hsluoyz commented on #61
@arteevraina yes.

[2020-09-17 08:43] hsluoyz commented on #127
Please fix.

[2020-09-17 08:44] #121 closed

[2020-09-17 08:44] arteevraina commented on #61
I am working on this.

[2020-09-20 12:30] AdaephonBen commented on #55
@hsluoyz Is this issue still open?

[2020-09-20 12:30] AdaephonBen commented on #54
@hsluoyz Can I work on this issue?

[2020-09-22 01:34] hsluoyz commented on #55
@AdaephonBen Yes. Please go ahead!

[2020-09-22 01:35] hsluoyz commented on #54
@AdaephonBen sure!

[2020-09-22 02:05] 438561537 opened #128 "Add github login function"
### Current Style:
The current login function needs to register and users cannot login fast without their own username and password.
### Expected Style:
We can add github login function for better management of users.
We can add admin users to manage the policy and models.

[2020-09-24 12:40] arteevraina commented on #61
@hsluoyz Should this feature be implemented on this page?
![image](https://user-images.githubusercontent.com/43968121/94146146-243e5800-fe91-11ea-97e3-4bd195b0f20c.png)

[2020-09-24 13:41] hsluoyz commented on #61
@arteevraina you can ask @438561537

[2020-09-24 13:47] 438561537 commented on #61
Yes, I am working on this.@arteevraina

[2020-09-24 13:49] arteevraina commented on #61
Ok Cool!

[2020-10-09 03:22] #128 closed

[2020-10-22 18:06] MehtaManan07 opened #132 "Register Button takes no where"
The "register now" button on the login page takes the user nowhere. I would like to fix that thing, but where should it take the user exactly??

[2020-10-23 02:08] hsluoyz commented on #132
@BetaCat0 @438561537

[2020-10-23 02:15] 438561537 commented on #132
@MehtaManan07 The repository has updated, and you can login with your github account and without register.

[2020-10-23 05:58] hsluoyz commented on #132
Confirmed it has been fixed, see: https://dashboard.casbin.org/

[2020-10-23 05:58] #132 closed

[2020-10-29 14:17] #92 closed

[2020-10-30 09:02] 438561537 opened #133 "Update readme"
After add github login function, the users needs to change the `GithubAuthClientID`, `GithubAuthClientSecret` in conf/app.conf, web/src/conf.js.

[2020-10-30 12:38] #133 closed

[2020-11-02 08:47] Xiaoyang-Gu opened #135 "Deprecation notice for authentication via URL query parameters"
Some users mentioned they encounter with the error `[E] [account.go:97]  json: cannot unmarshal object into Go value of type []controllers.userEmailFromGithub`
This because the Casbin-dashboard used an access token (with the User-Agent Go-http-client/1.1) as part of a query parameter to access an endpoint through the GitHub API: [https://api.github.com/user/emails](https://api.github.com/user/emai

[2020-11-02 12:22] hsluoyz commented on #135
@438561537 how to fix this issue?

[2020-11-02 13:39] 438561537 commented on #135
@hsluoyz I had made the pr #136  to fix this issue.
As the Github team mentioned, I use the Authorization HTTP header `request1, _ := http.NewRequest("GET", "https://api.github.com/user/emails", nil)`     `request1.Header.Set("Authorization", "token "+token.AccessToken)` instead of using access_token as part of a query parameter `response, err := http.Get("https://api.github.com/user/emails?access

[2020-11-19 07:01] Xiaoyang-Gu opened #137 "For more details about setting up OAuth application"
There needs to be some guidance on how to configure users' OAUTH app in [https://github.com/settings/developers](https://github.com/settings/developers).

[2020-12-10 19:26] mteodor opened #140 "Casbin dashboard UI inconsistency in the running port and authentication problem"
What is supposed to be running port ?
It starts on 3000, but when authentication against github is performed it redirects to `http://localhost:3030/callback`
When I changed all references of 3030 to 3000 it seems that it works fine, however there is a problem in the authorization flow
It seems that `https://api.github.com/user/emails` requires that token is in the authorization header

[2020-12-14 14:47] #127 closed

[2020-12-16 12:30] mteodor commented on #140
Authentication problem will be resolved with https://github.com/casbin/casbin-dashboard/pull/139
However ports are not consistent in the web app.

[2020-12-16 13:48] hsluoyz commented on #140
@mteodor If you are not using Windows, you probably start with wrong port: 3000. In this case, you need to change the following code to use port: 3030

https://github.com/casbin/casbin-dashboard/blob/6a0b240226ff173030c632594adad8f134e14f4f/web/package.json#L18-L24

[2020-12-16 14:06] #140 closed

[2020-12-18 11:09] hsluoyz commented on #135
Fixed by: https://github.com/casbin/casbin-dashboard/pull/139

[2020-12-18 11:09] #135 closed

[2020-12-18 11:10] hsluoyz commented on #125
Can anyone make a PR?

[2021-01-04 15:11] pranav1698 commented on #125
@hsluoyz are you working on this issue?

[2021-01-04 15:25] hsluoyz commented on #125
Not yet actually.

[2021-01-06 17:35] pranav1698 commented on #125
@hsluoyz can i work on it?

[2021-01-06 18:09] pranav1698 commented on #125
![Screenshot from 2021-01-06 23-38-35](https://user-images.githubusercontent.com/34754265/103804597-65d9c400-5078-11eb-8b3a-ad2b7e88f958.png)
Does this look good?

[2021-01-07 08:22] hsluoyz commented on #125
@pranav1698 looks good. Can you make a PR?

[2021-01-07 08:24] hsluoyz commented on #137
Fixed in: https://github.com/casbin/casbin-dashboard/pull/138

[2021-01-07 08:24] #137 closed

[2021-01-13 05:48] #125 closed

[2021-01-14 20:33] pranav1698 opened #143 "Realignment of submit buttons on each form page (Add Model, Add Adapter, Add Enforcer)"
The submit button is not aligned all of the forms in the casbin-dashboard like (Add Model, Add Adapter, Add Enforcer)
![Screenshot from 2021-01-15 02-02-42](https://user-images.githubusercontent.com/34754265/104645921-c64eae00-56d5-11eb-9d4d-0503112fd0d0.png)
![Screenshot from 2021-01-15 02-02-59](https://user-images.githubusercontent.com/34754265/104645947-cfd81600-56d5-11eb-9d86-2b06cdbb30fd.png

[2021-01-15 14:13] hsluoyz commented on #143
Where is PR?

[2021-01-15 16:10] pranav1698 commented on #143
@hsluoyz I will be happy to work on it

[2021-01-19 15:53] #143 closed